html {
    height: 100%;
    width: 100%;
  }

.container{
    position: absolute;
    top : 200px;
    left: 12vw;
}

  .NavbarItems {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
    width: 95%;
    height: 80px;
    border-radius: 13px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    z-index: 9999;
  }
  
  .nav-logo {
    color: #222;
    font-weight: 700;
    font-size: 2rem;
    cursor: pointer;
  }
  
  
  @media screen and (max-width: 850px) {
  .NavbarItems {
      z-index: 99;
  } 
}


